

.contact {
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: rgb(241, 248, 255);
}
.contact-box {
   padding: 10px 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.contact-information {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.map-icon {
   display: flex;
   align-items: center;
   border-radius: 25px;
   justify-content: center;
   background-color: rgb(225, 225, 225);
   font-size: 25px;
   width: 35px;
   height: 35px;
   margin-right: 15px;
}
.contact-addres h3 {
   margin: 5px 0;
   font-size: 15px;
}

.contact-addres p {
   margin: 5px 0;
   font-size: 13px;
}
.contact-title {
   font-size: 30px;
   margin-bottom: 10px;
}
.contact-desk {
   margin: 0 0 20px 0;
   font-size: 20px;
}


.form-box {
   display: flex;
   justify-content: center;
   align-items: center;
}
.form-container {
   display: flex;
   flex-direction: column;
   background-color: white;
   padding: 20px 20px;
   border-radius: 10px;
   box-shadow: 0 0 5px gray;
}
.form-1 {
   display: flex;
   gap: 10px;
}
.form-1 input {
   border: none;
   border-radius: 5px;
   height: 30px;
   box-shadow: 0 0 3px rgb(50, 50, 50);
   padding: 3px 5px;
}
.form-2 {
   display: flex;
   flex-direction: column;
   flex: 1;
}
.form-2 input {
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   height: 30px;
   box-shadow: 0 0 3px rgb(51, 51, 51);
   margin-bottom: 10px;
}
.form-2-info {
   margin-bottom: 10px;
}
.message-input {
   height: 50px;
   
}

.send {
   margin-top: 30px;
   width: 100%;
   padding: 10px 0;
   border: 1px solid transparent;
   border-radius: 5px;
   color: white;
   background-color: black;
   transition: 0.3s ease;

}
.send:hover {
   background-color: white;   
   color: black;
   border: 1px solid black;
}

.name-info {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}
.name-info label {
   margin-bottom: 5px;
}