
.footer-container {
   display: flex;
   flex-direction: column;
   padding: 50px 200px;
   background-color: rgb(12, 12, 33);
   color: white;
}
.fitur-box {
   display: flex;
   align-items: start;
   justify-content: space-between;
}
.footer-desk {
   width: 300px;
   padding-top: 20px;
}
.footer-desk p {
   font-size: 18px;
   margin: 30px 0;
   color: rgb(176, 179, 190);
}
.footer-desk-logo {
   font-size: 20px;
   color: rgb(176, 179, 190);
}

.footer-component {
   display: flex;
   flex-direction: column;
}
.footer-component a {
   text-decoration: none;
   color: rgb(176, 179, 190);
   padding-top: 15px;
   border: solid 1px transparent;
   transition: 0.3s ease;
}
.footer-component a:hover {
   border-bottom: solid 1px rgb(176, 179, 190);
}
.footer-facility h3{
   margin-bottom: 5px;
}

.copyright {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   color: rgb(176, 179, 190);
   border-top: 2px solid rgb(26, 26, 65);
}