
.properties {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.properties h1 {
   padding-top: 50px;
   padding-bottom: 50px;
   text-align: center;
}
.properties-box {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 30px;
}

.properties-container {
   display: flex;
   flex-direction: column;
   width: 350px;
   box-shadow: 0 0 5px gray;
}
.property-img {
   width: 100%;
   
}
.property-information {
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}
.properties-title {
   font-weight: 700;
   margin-bottom: 5px;
}
.properties-address {
   font-size: 13px;
   margin-top: 0;
}


.box-akomodasi {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
.box-akomodasi p {
   margin: 0 0 0 0;
}
.mbox-akomodasi {
   display: flex;
   align-items: center;
}
.mbox-akomodasi p {
   margin: 0 0 0 5px;
}
.properties-button {
   padding: 6px 15px;
   color: white;
   background-color: black;
   border: none;
   border-radius: 3px;  
   transition: 0.3s ease;     
   border: 1px solid transparent;
}
.properties-button:hover {
   background-color: white;
   color: black;
   border: 1px solid black;
}